*
{
    padding: 0;
    margin: 0;
}
@font-face
{
	src:url(..//fontfamily/Inter-Medium.ttf);
	font-family:nice;
}
body
{
    padding: 0;
    margin: 0;
    font-family:nice!important;
}
main
{  
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
}
.text-success{
    color:#28a745;
}
ul li {
    list-style: none;
}