*
{
    padding: 0;
    margin: 0;
}
@font-face
{
	src:url(..//fontfamily/Inter-Medium.ttf);
	font-family:nice;
}
body
{
    padding: 0;
    margin: 0;
    font-family:nice!important;
}
main
{  
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
}
.text-success{
    color:#28a745;
}
ul li {
    list-style: none;
}
.box1
{
    background-color:#3b5998;
}
.box2
{
    background-color:#1da1f2;;
}
.box3
{
    background-color:#e60023;;
}
.box4
{
    background-color:#0077b5;
}
.box5
{
    background-color:#ff4500 ;
}
.tags-p
{
    display: grid;
    grid-template-columns:auto auto auto;
    gap: 5px;

}

footer ul li a
{
    text-decoration:none;
    color: black;
    
}
footer ul
{
    list-style:none;

}
footer ul li
{
    list-style: none;
}
.main-cate
{
    border: 2px solid rgb(180, 180, 180);

}
.main-dis
{
    background-color: #233a95;
}
.bg-secondary
{
    background-color: #f3f3f6 !important;
}
.text-primary
{
    color:darkblue !important;
}